SAFEER_COORDINATION_SECRET=CHANGE_ME_LONG_RANDOM_SECRET
SAFEER_TURN_REALM=link.safeer.si
SAFEER_TURN_USER=safeer
SAFEER_TURN_PASSWORD=CHANGE_ME_LONG_RANDOM_PASSWORD
# Public client endpoints after DNS/TLS are configured:
SAFEER_COORDINATION_URL=https://link.safeer.si
SAFEER_STUN_URL=stun:link.safeer.si:3478
SAFEER_TURN_URL=turn:link.safeer.si:3478
SAFEER_GLOBAL_LINK_ENABLED=false
SAFEER_RELAY_ENABLED=false
